<div class="footer-container">
  <footer id="sponsors" class="wrapper">
    <h3>Sponsored by</h3>
    <div class="sponsors platinum">
        <a href="http://github.com"     class="github" target="_blank"></a>
        <a href="http://travis-ci.org"  class="travis" target="_blank"></a>
    </div>
    <div class="sponsors gold">
        <a href="http://37signals.com"  class="_37signals" target="_blank"></a>
        <a href="http://tilde.io"       class="tilde" target="_blank"></a>
        <a href="https://developers.google.com/open-source" class="google" target="_blank"></a>
        <a href="http://soundcloud.com" class="soundcloud" target="_blank"></a>
    </div>
    <div class="sponsors silver">
        <a href="http://envato.com"     class="envato" target="_blank"></a>
        <a href="http://innoq.com"      class="innoq" target="_blank"></a>
        <a href="http://shopify.com"    class="shopify" target="_blank"></a>
        <a href="http://jumpstartlab.com" class="jumpstart" target="_blank"></a>
        <a href="http://www.aupair-world.net" class="aupair" target="_blank"></a>
        <a href="http://supadupa.me"    class="supadupa" target="_blank"></a>
        <a href="http://engineyard.com" class="engineyard" target="_blank"></a>
        <a href="http://anynines.com"   class="anynines" target="_blank"></a>
        <a href="http://engineering.groupon.com" class="groupon" target="_blank"></a>
        <a href="http://gnip.com"       class="gnip" target="_blank"></a>
        <a href="http://dawanda.com"    class="dawanda" target="_blank"></a>
    </div>
    <div class="sponsors bronze">
        <a href="http://dockyard.com"   class="dockyard" target="_blank"></a>
        <a href="http://confreaks.com"  class="confreaks" target="_blank"></a>
        <a href="http://wooga.com"      class="wooga" target="_blank"></a>
        <a href="http://wimdu.com"      class="wimdu" target="_blank"></a>
        <a href="http://pivotallabs.com" class="pivotal" target="_blank"></a>
        <a href="http://upworthy.com"   class="upworthy" target="_blank"></a>
        <a href="http://honeybadger.io" class="honeybadger" target="_blank"></a>
        <a href="http://bendyworks.com" class="bendyworks" target="_blank"></a>
        <a href="http://developer.rackspace.com"  class="rackspace" target="_blank"></a>
        <a href="http://codegram.com"   class="codegram" target="_blank"></a>
        <a href="http://nedap.com"      class="nedap" target="_blank"></a>
        <a href="http://frontfoot.com.au"      class="frontfoot" target="_blank"></a>
        <a href="http://readmill.com"      class="readmill" target="_blank"></a>
    </div>
    <h4>Conference tickets and scholarships by</h4>
    <div class="sponsors scholarship">
        <a href='http://www.arrrrcamp.be/'             class="arrrrcamp" target="_blank"></a>
        <a href='http://devcon-oct13.events.co.il/'    class="devcon" target="_blank"></a>
        <a href='https://distill.engineyard.com/'      class="distill" target="_blank"></a>
        <a href='http://www.dotrb.eu/'                 class="dotrb" target="_blank"></a>
        <a href='http://2013.eurucamp.org/'            class="eurucamp" target="_blank"></a>
        <a href='http://futurestack.io/'               class="futurestack" target="_blank"></a>
        <a href='http://2013.jrubyconf.eu'             class="jrubyconfeu" target="_blank"></a>
        <a href='http://madisonruby.org/'              class="madisonruby" target="_blank"></a>
        <a href='http://railsisrael2013.events.co.il/' class="railsisrael" target="_blank"></a>
        <a href='http://rubyshift.org/'                class="rubyshift" target="_blank"></a>
        <a href='http://13.rupy.eu/'                   class="rupy" target="_blank"></a>
        <a href='http://socoded.com/'                  class="socoded" target="_blank"></a>
        <a href='http://www.startechconf.com/'         class="startech" target="_blank"></a>
        <a href='https://thestrangeloop.com/'          class="strangeloop" target="_blank"></a>
        <a href='http://wickedgoodruby.com/'           class="wickedgoodruby" target="_blank"></a>
        <a href='http://2013.cssconf.eu/'              class="cssconf" target="_blank"></a>
        <a href='http://www.roguerails.com/'           class="roguerails" target="_blank"></a>
        <a href='http://www.bubbleconf.com/'           class="bubbleconf" target="_blank"></a>
    </div>
    <p style="clear: both">
       &hearts; artwork by <a href=" http://www.ejaculesc.com/" target="_blank">Rebecca Conrad<a> <br>
      &copy; <a href="http://railsgirls.com">Rails Girls</a> 2013
      &mdash; supported by <a href="http://about.travis-ci.org/foundation">Travis Foundation</a> |
      <a href="/imprint/">Imprint</a>
    </p>
  </footer>
</div> <!-- #footer-container -->

